body, html {
    font-family: Arial, Helvetica, sans-serif;
}
  
* {
    box-sizing: border-box;
}

/*header*/
.nav-link {
    color:#00EAFF!important;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    font-family: Helvetica;
}

.navbar a {
    margin-right: 30px;
    font-family: Helvetica;
}

.navbar .btn, .courses .btn, .newsletter .btn {
    background-color: #00EAFF;
    color: #202020;
    border: 0; 
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    font-family: Helvetica;
  }
  
.navbar .btn:hover, .courses .btn:hover, .newsletter .btn:hover {
    background-color: #0E7872;
}

.display-4 {
    font-weight: bold;
    font-size: 44px;
    line-height: 158.34%;
}

/*jumbotron*/
.jumbotron .btn, .stories .btn{
    background-color:#202020;
    color: #00cfcf;
    border: 0;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    font-family: Helvetica;
}

.jumbotron .btn:hover, .stories .btn:hover {
    background-color: white;
}

.jumbotron {
    background-color: #00cfcf;
    height: 605px;
}

/*services*/
.services {
    height: 400px;
    background: white;
    text-align: center;
}

h4 {
    font-weight: bold;
    font-size: 40px;
    line-height: 158.34%;
    color: #00cfcf;
}

h6 {
    font-weight: 900;
    font-size: 20px;
    line-height: 182.7%;
    color: #202020;
}

@font-face {
    font-family: Proxima;
    src: url(../font/proxima/ProximaNova-Regular.otf);
}

p, .courses a{
    font-family: Proxima;
    font-size: 14px;
    line-height: 17px;
    color: #202020;
}

/*stories*/
.stories {
    height: 832px;
    background-color: #00cfcf;
}

.stories h1 {
    font-weight: bold;
    font-size: 44px;
    line-height: 158.34%;
}

.stories p {
    line-height: 175.78%;
}

/*Courses*/
.courses {
    min-height: 1126px;
}

.courses a{
    text-decoration: none;
    color: #202020;
    padding: 2%;
}

.courses .card {
    height: 279px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.courses img {
    height: 70%;
    padding: 5px;
}

.courses .card-body p {
    color: white;
}

.courses .card-body, .courses .card-top {
    background: linear-gradient(219.26deg, #00cfcf 1.55%, #0E7872 95.8%);
    font-weight: 700;
    font-size: 14px;
    line-height: 152.34%;
}

.courses .card-top {
    width: 70px;
    height: 33px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
    color: white;
}

/* achievement */

.achievement{
    min-height: 298px;
    background: linear-gradient(213.98deg, #00cfcf 1.55%,  #0E7872 95.8%);
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

/* testimonials */

.testimonials {
    min-height: 641px;
    color: #5c5c5c;
}

.testimonials .card {
    border-radius: 5px;
}

.testimonials h5 {
    font-weight: 900;
    font-size: 16px;
    line-height: 105.47%;
}

.testimonials .card-text {
    line-height: 175.78%;
    text-align: justify;
}

.testimonials h1 {
    color: #00EAFF;
}

.testimonials .card:hover {
    box-shadow: 0px 12px 35px rgba(0, 234, 255, 0.2);
    border-radius: 5px;
}

/* Newsletter */

.newsletter {
    min-height: 533px;
    background-image: url("../imgs/background.png");
    position: relative;
}

.newsletter h4 {
    font-weight: bold;
    font-size: 40px;
    line-height: 28px;
    margin-top: 150px;
}

.newsletter .btn {
    width: 135px;
}

.newsletter .imgs {
    position: absolute;
    left: 0;
    top: 0;
}

/* Contact */

.contact {
    min-height: 314px;
    background: #212121;
    color: white;
    padding: 20px;
}

.contact p, .contact h6 {
    color: white;
}

.contact li {
    list-style: none;
}